<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Backbone Task App</title>
</head>
<body>
    <h1>Backbone To-Do App</h1>
    <div class="todo-container">
        <h2>To-Dos</h2>
        <ul class="todo-ul">

        </ul>
    </div>
    <div class="completed-todos-container">
        <h2>Completed To-Dos</h2>
        <ul class="completed-todo-ul">

        </ul>
    </div>
    <div class="form-container">
        <h2>Add New Tasks Here</h2>
        <form class="add-todos-form">
            <input type="text" id="task-title" placeholder="Task"/>
            <input type="date" id="task-due-date" placeholder="Due Date"/>
            <input type="submit" placeholder="add" id="add-task"/>
        </form>

    </div>
    
    <script type="text/template" class="task-list-template">
        <p class="task_title"><%= task_title %></p>
        <p class="due_date"><%= due_date %></p>
        <button class="complete-task">Complete</button>
    </script>
    
    <script src="underscore-min.js"></script>
    <script src="jquery-3.4.1.min.js"></script>
    <script src="backbone-min (1).js"></script>
    <script src="scripts.js"></script>
</body>
</html>